{% extends 'SameAdminBundle::layout.html.twig' %}
{% block title %}LV OFFLINE{% endblock %}

{% block head_css %}
{% stylesheets filter='cssrewrite' output="css/same_admin_table.css"
  'bundles/sameadmin/css/jquery.dataTables.css'
  'bundles/sameadmin/css/shCore.css'
  'bundles/sameadmin/css/demo.css'
%}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block head_js %}
{% javascripts output="js/same_admin_table.js"
  '@SameAdminBundle/Resources/public/js/jquery.js'
  '@SameAdminBundle/Resources/public/js/table.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %} 

{% block content %}
<div class="container">
  <section>
    
   
      <table id="example" class="display dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
      <thead>
        <tr role="row">
          <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="PHOTO: activate to sort column descending" style="width: 100px;">ID</th>
          <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="DOWNLOAD: activate to sort column ascending" style="width: 100px;">Name</th>
          <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="NAME: activate to sort column ascending" style="width: 100px;">Content</th>
          <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="FUNCTION: activate to sort column ascending" style="width: 100px;">CreateTime</th>
          <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="FUNCTION: activate to sort column ascending" style="width: 100px;">Status</th>
        </tr>
      </thead>

      <tbody id="table">
        {% for row in list %}
          <tr>
          <td align="center">{{row.id}}</td>
          <td align="center">{{row.nickname}}</td>
          <td align="center">{{row.content}}</td>
          <td align="center">{{row.created|date('Y-m-d H:i:s')}}</td>
          <td align="center">
          <select onchange="review({{row.id}})" id="review_{{row.id}}" class="{{row.status?'statusOn':'statusOff'}}">
            <option value="0" style="color:#FF0000" {{row.status==0?'selected=selected':''}}>未审核</option>
            <option value="1" style="color:#0000FF" {{row.status==1?'selected=selected':''}}>已审核</option>
          </select>
          </td>
          </tr>
        {% endfor %}
     </tbody>
    </table>
    {% if totalpage <= 10 %}
     <div class="pageone">
        <a href="javascript:void(0)" onclick="prepage()" class="{{page == 1 ? 'etc' : 'border'}}"><<</a>
          {% for i in 1..totalpage %}
              <a href="./table?page={{i}}" class="{{i == page ? 'disable' : 'border'}}">{{i}}</a>
          {% endfor %}
        <a href="javascript:void(0)" onclick="nextpage()" class="{{page == totalpage ? 'etc' : 'border'}}">>></a>
      </div>
    {% else %}
      <div class="pagetwo">
        <a href="javascript:void(0)" onclick="prepage()" class="{{page == 1 ? 'etc' : 'border'}}"><<</a>
          {% if page < 5 %}
            {% for i in 1..5 %}
                <a href="./table?page={{i}}" class="{{i == page ? 'disable' : 'border'}}">{{i}}</a>
            {% endfor %}
                <a href="" class="etc">...</a>
            {% for i in (totalpage - 2)..totalpage %}
                <a href="./table?page={{i}}" class="border">{{i}}</a>
            {% endfor %}
          {% elseif page > totalpage - 5 %}
            {% for i in 1..3 %}
                <a href="./table?page={{i}}" class="border">{{i}}</a>
            {% endfor %}
                <a href="" class="etc">...</a>
            {% for i in (totalpage - 5)..totalpage %}
                <a href="./table?page={{i}}" class="{{i == page ? 'disable' : 'border'}}">{{i}}</a>
            {% endfor %}
          {% else %}
            {% for i in 1..3 %}
                <a href="./table?page={{i}}" class="border">{{i}}</a>
            {% endfor %}
                <a href="" class="etc">...</a>
            {% for i in (page - 1)..(page + 1) %}
                <a href="./table?page={{i}}" class="{{i == page ? 'disable' : 'border'}}">{{i}}</a>
            {% endfor %}    
                <a href="" class="etc">...</a>
            {% for i in (totalpage - 2)..totalpage %}
                <a href="./table?page={{i}}" class="border">{{i}}</a>
            {% endfor %}
          {% endif %}
        <a href="javascript:void(0)" onclick="nextpage()" class="{{page == totalpage ? 'etc' : 'border'}}">>></a>
      </div>
    {% endif %}
  </section>
</div>
{% endblock %}