{% extends "LorealMenexpertBundle::layout.html.twig" %}
{% block title %}欧莱雅男士去屑洗发露全球首发{% endblock %}
{% block body %}
<div class="map_area">
	<img src="/images/map/logo.png" width="100%" class="hudong_logo"/>
	<div class="inter_logo">
	</div>
	<div class="inter_content">
		<div class="purple">
			<img src="/images/interation/taste.png" width="100%" />
				{% if (answerList.purple) %}
				<div class="circle_ani_purple">
					<img src="/images/interation/circle_grey.png" width="100%">
					<img src="/images/interation/purple_g.png" width="100%" class="circle_on">
					<img src="/images/interation/taste_t.png" width="100%" class="circle_title">	
				</div>
				{% else %}
			<a href="{{ url('loreal_menexpert_interaction_purple') }}">
				<div class="circle_ani_purple">
					<img src="/images/interation/circle_purple.png" width="100%" class="circle">
					<img src="/images/interation/purple.png" width="100%" class="circle_on">
					<img src="/images/interation/taste_t.png" width="100%" class="circle_title">	
				</div>
			</a>
				{% endif %}
		</div>
		<div class="red">
				{% if (answerList.red) %}
				<div class="circle_ani_red">
					<img src="/images/interation/circle_grey.png" width="100%">
					<img src="/images/interation/red_g.png" width="100%" class="circle_on">
					<img src="/images/interation/heater_t.png" width="100%" class="circle_title">	
				</div>
				{% else %}
			<a href="{{ url('loreal_menexpert_interaction_red') }}">
				<div class="circle_ani_red">
					<img src="/images/interation/circle_red.png" width="100%" class="circle">
					<img src="/images/interation/red.png" width="100%" class="circle_on">
					<img src="/images/interation/heater_t.png" width="100%" class="circle_title">	
				</div>
			</a>
				{% endif %}
			<img src="/images/interation/heater.png" width="90%" class="heater">
		</div>

		<div class="orange">
			<img src="/images/interation/power.png" width="90%">
				{% if (answerList.orange) %}
				<div class="circle_ani_orange">
					<img src="/images/interation/circle_grey.png" width="100%">
					<img src="/images/interation/orange_g.png" width="100%" class="circle_on">
					<img src="/images/interation/power_t.png" width="100%" class="circle_title">	
				</div>
				{% else %}
			<a href="{{ url('loreal_menexpert_interaction_orange') }}">
				<div class="circle_ani_orange">
					<img src="/images/interation/circle_orange.png" width="100%" class="circle">
					<img src="/images/interation/orange.png" width="100%" class="circle_on">
					<img src="/images/interation/power_t.png" width="100%" class="circle_title">	
				</div>
			</a>
				{% endif %}	
		</div>

		<div class="green">
			<img src="/images/interation/gentle.png" width="100%">
				{% if (answerList.green) %}
				<div class="circle_ani_green">
					<img src="/images/interation/circle_grey.png" width="100%">
					<img src="/images/interation/green_g.png" width="100%" class="circle_on">
					<img src="/images/interation/gentle_t.png" width="100%" class="circle_title">	
				</div>
				{% else %}
			<a href="{{ url('loreal_menexpert_interaction_green') }}">
				<div class="circle_ani_green">
					<img src="/images/interation/circle_green.png" width="100%" class="circle">
					<img src="/images/interation/green.png" width="100%" class="circle_on">
					<img src="/images/interation/gentle_t.png" width="100%" class="circle_title">	
				</div>
			</a>
				{% endif %}
					
		</div>

		<div class="blue">
			<img src="/images/interation/limit.png" width="100%">
			
				{% if (answerList.blue) %}
				<div class="circle_ani_blue">
					<img src="/images/interation/circle_grey.png" width="100%">
					<img src="/images/interation/blue_g.png" width="100%" class="circle_on">
					<img src="/images/interation/limit_t.png" width="100%" class="circle_title">	
				</div>
				{% else %}
			<a href="{{ url('loreal_menexpert_interaction_blue') }}">
				<div class="circle_ani_blue">
					<img src="/images/interation/circle_blue.png" width="100%" class="circle">
					<img src="/images/interation/blue.png" width="100%" class="circle_on">
					<img src="/images/interation/limit_t.png" width="100%" class="circle_title">	
				</div>
			</a>
				{% endif %}
				
		</div>
		<div class="start">
			<img src="/images/interation/start.png" width="100%" class="start_t"/>
			<img src="/images/interation/arrow.png" width="100%" class="arrow" />
		</div>		
	</div>

	<div class="tips">
  		<img src="/images/interation/tipsBox.png" class="tips_box">
		
		<img src="/images/interation/close_btn.png" width="100%" class="close"/>
		<div class="tips_content map_tips">
			<img src="/images/map/yanzu_title.png" width="100%" class="map_header"/>
			<img src="/images/map/rule.png" width="100%" class="tips_title"/>
			<img src="/images/map/rule_con.png" width="100%" class="rule_con"/>
			<img src="/images/map/quick.png" width="100%" class="quick_con"/>
			<div class="map_loading">
				<img src="/images/map/map_bar.png" width="100%" class="map_bar" />
				<p class="map_title">0%</p>
			</div>
		</div>	
	</div>

</div>	
<script>
{% if tips == 0 %}
$(".map_area .tips").fadeIn(1000);
$(".map_tips").fadeIn(1000);
{% endif %}



var current = 0;

function increment(){
	if(current >= 99){
		clearInterval(interval);
	}
	current++;
	$('.map_title').html(current+'%'); 
}

var interval = setInterval('increment()',50);

</script>
{% endblock %}